main {
  display: flex;
  flex-direction: var(--align-options, column);
  flex-flow: var(--align-options, column) wrap;
}

.positive {
  outline: 2px solid var(--positive-color, green);
}

.negative {
  outline: 2px solid var(--negative-color, red);
}

.neutral {
  outline: 2px solid var(--neutral-color, yellow);
}

.mdc-form-field {
  flex-basis: var(--option-width, content);
}
