

#canvas {
    margin: 1em;
    width: 500px;
    height: 500px;
    background-color: grey;
}

.container {
    display: inline-flex;
    border-style: solid;
    border-color: transparent;
    flex-direction: column;
}

.line-description {
    text-align: center;
}
